body{background-image:url(./images/fondo.jpeg) ;color: white;}
h1{color: white;}
p{color: white;}
label{color: white;}
input{color: white;}
#Search{width: 15%;}
h2{color: whitesmoke;text-align: center;}
h5{color: whitesmoke;}
h3{color: white;text-align: center;}
h4{color: white;}
#expl{text-align: center;}  
#radio{color:white;}
