body{background-image:url(./images/fondo.jpeg) ;color: white;}
h1{color: white;}
.form-label{width: 60%;}
p{color: white;}
label{color: white;}
input{color: white;}
#completa{width: 40%;}
#menu{text-align: center;}
.btnbtn-primar{ color: black; text-align: center;}
a{text-align: center;}
h2{color: whitesmoke;text-align: center;}
h5{color: whitesmoke;}
h3{color: white;text-align: center;}
h4{color: white;text-align: center;}
#Submit1{background-color: rgb(52, 52, 52);text-align: center;}
#expl{text-align: center;}  
th{color: white;}
td{text-align: center;}
#Radio{color:white;
    justify-content:space-around;
    word-spacing: 80PX;}
#Sushi{width: 90px;float: left;}
#Sushi1{width: 60px; float: left;}
#Sushi2{width: 400PX;}
#volver{color: white;} 
.btnnbtn-primary{background-color: black;color: white; position: sticky;bottom: 10px;}
.btnnnbtn-primary{background-color: black;color: white;}
.submit{background-color:blue;color: white;height: 40px; position: sticky;}
#icalculadora{text-align: center;}
#calculadora{text-align: right ;}
footer{text-align: center;}
footer > a{color: white;}
#icono-ig{width: 40px;}
#wapp{width: 40px;}
.sc-10gk5i5-3{color: white; }
.sc-10gk5i5-5{color: white;}
.bSGoKg {padding: 0px 10px 12px;}
input{display:inline}
.form-control{display: inline!important;}
tbody, td, tfoot, th, thead, tr{border-style: none!important;}
