a{color:white}
body{background-image:url(./images/fondo.jpeg) ;}
header{position: sticky;}
.navbar{width: 100%;}
.carousel-inner{height: 600px;
                z-index: 1 ;}
h1{color:whitesmoke;
text-align: center; background-color: black;padding: 20px;margin-bottom: 0px;}
h2{color: whitesmoke;text-align: center;}
h4{color: whitesmoke;}
h5{color: whitesmoke;}
p{color: white;}
#expl{text-align: center;}  
.col-6{margin-left: 200px;}
h3{color: white;text-align: center;}
#nuevo{text-align: left;}
#Sushi{width: 90px;float: left;}
#Sushi1{width: 60px; float: left;}
#Sushi2{width: 400px;float:right;margin-right: 500px;}
#icono-ig{width: 40px;}
#wapp{width: 40px;}
header{line-height: 55px;
    position: -webkit-sticky;
        top: 0px;}
menu > a > li {display: inline;}
menu > form {display: inline;}
#logo-menu{width: 100px;
    display: inline;
    float: left;}
button{background-color: #000000;
color: white;}
.dropdown {display: inline-block;
        position: relative;}
.dropdown-content {
        display: none;
        position: absolute;
        width: 150px;
        overflow: auto;
        z-index: 2;}
.dropdown:hover .dropdown-content {
        display: block;}
.dropdown-content a {
        display: block;
        color: #000000;
        background-color: white;
        padding: 5px;
        text-decoration: none;
      }
.dropdown-content a:hover {
        color:black;
        background-color: #00A4BD;
      }
#nosotros{text-align: center;}
#Historia{text-align: center;}
footer{text-align: center;}
footer > a{color: white;}
 h1{margin-bottom: 0px!important;}