a{color:white}
body{background-image:url(./images/fondo.jpeg) ;}
.navbar{width: 100%;}
h1{color:whitesmoke;}
h2{color: whitesmoke;}
h5{color: whitesmoke;}
#logo{width: 200px;
display: inline;
float: right;
margin-top: 10px;}
p{color: white;}
h3{color: white;}
#icono-ig{width: 2%;}
#wapp{width: 2%;}
header{line-height: 55px;
    position: -webkit-sticky;
top: 0px;}
menu > a > li {display: inline;}
menu > form {display: inline;}
#logo-menu{width: 80px;
    display: inline;
    float: left;}
