body{background-image:url(./images/fondo.jpeg) ;}
h1{color:whitesmoke;}
#logo{width: 200px;
display: inline;
float: right;}
p{color: white;}
header{color: white;}
h3{color: white;}
#icono-ig{width: 2%;}
#wapp{width: 2%;}
header{position: -webkit-sticky;
top: 0px;background-image:url(./images/pngtree-wall-grain-texture-dark-gray-background-image_779339.jpeg);}
menu > a > li {display: inline;}
